.frame {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #d9d9d9;
}

.main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    background: #e5e5e5;
}

.main_frame .left_frame {
    position: relative;
    width: 305px;
    height: 1315px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.main_frame .midd_frame {
    position: relative;
    width: 970px;
    height: 1312px;
    margin-top: 0;
    margin-right: 27px;
    display: flex;
    flex-direction: column;

}

.main_frame .right_frame {
    position: relative;
    width: 108px;
    height: 1315px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Left Frame */
.main_frame .left_1 {
    position: relative;
    width: 228px;
    height: 267px;
    margin-top: 50px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_frame .left_1 .left_1-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156.16px;
    height: 142.53px;
    margin-bottom: 29.46px;
}

.main_frame .left_1 .left_1-2 {
    position: relative;
    width: 66.63px;
    height: 20.9px;
    margin-bottom: 6.65px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #2b2b2b;
}

.main_frame .left_1 .left_1-3 {
    position: relative;
    width: 147.84px;
    height: 25.65px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: "calt" off, "kern" off;
    color: #767676;
}

.left_icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 238px;
    margin-top: 19px;
}

.link_href {
    text-decoration: none;
    color: black;
}

.icon {
    position: relative;
    width: 24.99px;
    height: 22.8px;
    border-radius: 50%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.icon-1 {
    position: relative;
    left: 29.17%;
    right: 27.08%;
    margin-top: 5.86px;
}

.marginer {
    position: relative;
    width: 220px;
    height: 0px;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 24px;
    border: 1.5px solid #f0f0f6;
}

/* Left Info */
.main_frame .left_2 {
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 44px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.main_frame .left_2 .left_2-row {
    position: relative;
    width: 221px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.left_2 .left_2-row p {
    margin: 0;
}

.left_2 .left_2-row .yellow_text {
    background-color: #ffb400;
    padding: 2px 8px;
}

.left_frame .left_2 .freelance_info {
    color: #239b2185;
}


/* Languages & Skills */
.main_frame .left_3 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-left: 45px;
    display: flex;
    flex-direction: column;
}

.left_frame .left_header {
    position: relative;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
}

.main_frame .left_3 .lang,
.main_frame .left_4 .skills {
    position: relative;
    font-family: sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    color: #767676;
}

.main_frame .left_3 .lang p,
.main_frame .left_4 .skills p {
    margin: 0;
}

.left_frame .left_3 .info-line,
.left_frame .left_4 .info-line {
    position: relative;
    width: 220px;
    height: 4px;
    margin-top: 5px;
    margin-bottom: 9px;
}

.left_frame .left_3 .info-line img,
.left_frame .left_4 .info-line img {
    display: block; 
} 

.main_frame .left_4 {
    position: relative;
    width: 220px;
    margin-left: 45px;
    display: flex;
    flex-direction: column;
}


/* Extra Skills */
.main_frame .left_5 {
    position: relative;
    width: 186px;
    height: 148px;
    margin-left: 45px;
    display: flex;
    flex-direction: column;
}

.main_frame .left_5 .ex-skills {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 186px;
    height: 24px;
}

.ex-skills .ex-skills_icon {
    position: relative;
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

.ex-skills .ex-skills p {
    position: relative;
    display: flex;
    font-family: sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    text-transform: capitalize;
    color: #767676;
}


/* Midd Frame - Top */
.main_frame .midd_frame .midd_top {
    position: relative;
    width: 970px;
    height: 454.33px;
    margin-left: 16px;
    margin-right: 22px;
    display: flex;
    justify-content: center;
    background: white;
}


.midd_frame .midd_top [class^="midd_top-icon-"] {
    position: absolute;
    width: 16px;
    height: 16px;
}


.midd_frame .midd_top .midd_top-icon-1 {
    top: 37.86px;
    left: 36.05px;
}

.midd_frame .midd_top .midd_top-icon-2 {
    top: 59.26px;
    left: 516.55px;
}

.midd_frame .midd_top .midd_top-icon-3 {
    top: 76.44px;
    right: 57.2px; 
}

.midd_frame .midd_top .midd_top-icon-4 {
    bottom: 28.3px; 
    left: 84.1px;
}

.midd_frame .midd_top .midd_top-icon-5 {
    top: 330.69px;
    left: 370.4px;
}

.midd_frame .midd_top .midd_top-icon-6 {
    bottom: 69.2px; 
    left: 554.4px;
}

.midd_frame .midd_top .midd_top-icon-7 {
    bottom: 23.44px; 
    right: 37.02px; 
}

/* Midd_top-info */
.midd_top-frame {
    display: flex;
    flex-direction: column;
    margin-top: 99.15px;
}

.midd_top_main-text {
    width: 499.51px;
    margin-left: 56.7px;
    margin-bottom: 17.11px;
    font-family: sans-serif;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 123.6%;
    text-align: left;
}


.midd_top-text {
    width: 424.44px;
    margin-left: 61px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-transform: capitalize;
    color: #767676;
}

.midd_top-btn_icon {
    width: 154.16px;
    height: 49.62px;
    margin-top: 22.78px;
    margin-left: 56.7px;

}

.midd_top-profile {
    width: 326.06px;
    height: 446.63px;
    margin-top: 16.46px;
    margin-right: 61.65px;
}


/* Midd Bottom Frame */
.midd_bottom {
    position: relative;
    width: 970px;
    height: 653px;
    margin-top: 148.67px;
}

.bottom_info {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    font-family: sans-serif;
}

.bottom_info .bottom_main-text {
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 123.6%;
    text-align: left;
    text-transform: capitalize;
}

.bottom_info .bottom-text {
    width: 438px;
    margin-top: 25px;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #767676;
}

.bottom-my_services {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 490px;
    width: 970px;
    margin-top: 50px;
    margin-left: 12px;
    margin-right: 27px;
}

.bottom-row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bottom-my_services .bottom-row-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 225px;
    background: white;
}

.bottom-my_services .bottom-row-1 .midd-bottom-icons {
    position: relative;
    margin-bottom: 26px;
    width: 68px;
    height: 68px;
}

.icons-header_text {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
    text-transform: capitalize;
}

.icons-bot-text {
    position: relative;
    width: 260px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #767676;
}

a .order-link {
    text-decoration: none;
    margin-bottom: 27px;
}

a .order-link  img {
    position: relative;
    display: flex;
    justify-content: center;
    width: 86px;
    height: 20px;
}


/* Right Frame */
.right-top-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    width: 30px;
    height: 30px;
}

.right-home-icon {
    position: relative;
    width: 65px;
    height: 78px;
}

.right-main-icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 65px;
    height: 493px;
    margin-top: 177px;
}

.right-links {
    text-decoration: none;
}

.right-icons {
    position: relative;
    width: 40px;
    height: 40px;
}